<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!--Путь к папке проверки-->
		<add key="Path" value="C:\MailUploader\Inbox"/>
		<!--Расширение проверчемого файла-->
		<add key="FileExtension" value=".zip"/>
		<!--Переодичность проверки в минутах-->
		<add key="CheckTimeIntervalInMinuts" value="1"/>
		<!--Звуковое сопровождение-->
		<add key="AudioPlayback" value="false" />
		<!--Переодичность повторной проверки после нахождения файла-->
		<add key="RepeatCheckInSeconds" value="10" />
		<!--Путь к звуковому файлу-->
		<add key ="PathInSound" value="C:\Users\dagyp\Downloads\Звуки для проги\voennyiy-gorn-signal-quotatakaquot-31661.wav" />
	</appSettings>
</configuration>