<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<setting>
		<!--Путь к папке проверки-->
		<add name="Path" value="C:\MailUploader\Inbox"/>
		<!--Расширение проверчемого файла-->
		<add name="FileExtension" value="*.rar"/>
		<!--Переодичность проверки в минутах-->
		<add name="CheckTimeIntervalInMinuts" vaue="10"/>
		<!--Звуковое сопровождение-->
		<add name="AudioPlayback" value="false" />
		<!--Переодичность повторной проверки после нахождения файла-->
		<add name="RepeatCheckInSeconds" value="10" />
		<!--Путь к звуковому файлу-->
		<add name ="PathInSound" value="C:\Users\dagyp\Downloads\Звуки для проги\voennyiy-gorn-signal-quotatakaquot-31661.wav" />
	</setting>
</configuration>